/* 整体容器 */
.wave-input {
    -fx-background-color: transparent; /* 保持背景透明 */
    -fx-border-color: transparent;     /* 将边框颜色也设为透明，或者直接移除边框 */
    -fx-border-width: 0;               /* 移除所有边框，特别是底部的 */


    -fx-padding: 10 10 10 5;     /* 内边距可以保持，确保文本不贴边，并且为下方的bar留出空间 */
    /* 特别注意底部的padding (10px)*/
    -fx-font-size: 16px;
}
.wave-label {
    -fx-text-fill: #999;
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-pointer-events: none;
    -fx-transition: 0.2s ease all;
}

.wave-label-char {
    -fx-transition: 0.2s ease all;
}

.wave-bar {
    /* 样式由 Rectangle 填充，无需额外定义 */
}
